/*==================================== 
   Appendixes
=====================================*/
.appendixes {
	background: $background-app;/* rgba(0, 0, 0, .65);*/
	display: block;
	overflow: scroll;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
	font-size: 1.3em;
	line-height: 1.5;
	width: 100%;
	max-width: 1440px;
	position: fixed;
	margin:0 auto;
  z-index: 13;
	padding-left: 1.250em;
	padding-right: 1.250em;
	max-height: 0;
	-webkit-transform: scale(1);
	-webkit-transition: all 0.95s;
	-webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

	@media #{$brk-narrow} {
		margin-top: -330px;
		font-size: 1.2em;
	}
	@media #{$brk-iPhone6sPlus-wide} {
		margin-top: -330px;
	}
	@media #{$brk-iPhone6s-wide} {
		margin-top: -260px;
		font-size: 1.1em;
	}
	@media #{$brk-iPhone-wide} {
		margin-top: -238px;
		font-size: 1em;
	}
	@media #{$brk-iPhone6sPlus-portrait} {
		margin-top: -213px;
		font-size: 1em;
	}
	@media #{$brk-iPhone6s-portrait} {
		margin-top: -200px;
		font-size: .925em;
	}
	@media #{$brk-extra-narrow} {
		padding-left: .125em;
		padding-right: .125em;
		margin-top: -200px;
		font-size: .925em;
	}
}

//.mac .appendixes {
//@media #{$brk-narrow} {
//		margin-top: -330px;
//	}
//	}
