/*==================================== 
  Header
=====================================*/
.background_header {
	background: white;
}

.unit_table {
	@extend %align;
	display: block;
	z-index: 0;
	margin-top: 0px;
	width: 70%;
	max-width: 910px;
	max-height: 0;
	opacity: 0;
	transition-property: max-height, opacity;
	transition-duration: 300ms;
	transition-timing-function: ease;
	transition-delay: 100ms;
	@media #{$brk-iPhone6sPlus-wide}{
		width: 80%;
	}
}

.un_table{
	width: 100%;
}

.th_1 {
	width: 10%;
	background: $color-sec;
	color: $color-text-light;
	font-size: 2em;
	padding-left: 10px;
	padding-right: 10px
}

.th_2 {
	background: $blue;
	width: 90%;
	border: 0px solid $black;
	border-collapse: collapse;
}

.header {
	@extend %alignBase;
	display: inline-block;
	z-index: 13;
	width: 70%;
	max-width: 910px;
	display: block;
	background-color: $background-app; /*rgba(0, 0, 0, .65);*/
	overflow: hidden;
	position: relative;
	max-height: 0;
	transition-property: max-height, width, max-width;
	transition-duration: 300ms;
	transition-timing-function: ease;
	transition-delay: 100ms;
}