/*==================================== 
   Tables
=====================================*/
.content {
	text-align:center;
	background-color: $white;
	border: thin solid $color-border-red;
	border-left:none;
	border-right:none;
	}

.content_3{
	margin-top: 5px;
	padding-top: 0px;
	padding-left: 15px;
	border:none;
	background-color: $background-table;
	text-align: left;
}
.content_4 {
	padding-left: 5%;
	margin-left: auto;
	text-align: left;
	color:$color-text-base;
}

.p_1 {
	width: 80%;
	background: $color-sec;
	border-radius: 6px;
	color: $color-text-light;
	margin-left: 7%;
	text-align:left;
	font-size: 1.3em;
	padding-left:7%;
	padding-right: 3%;
	padding-top: .5em;
	padding-bottom: 1%;
   
}

.p_2 {
	width:80%;
	margin: 10px auto;
}

.appendix {
	display: block;
	width: 80%;
	background-color: #efe3dd;
	border-collapse: collapse;
	position: absolute;
	border-radius: 10px;
}

.appendix:focus {
	margin-left: 20%;

}

.app_table {
	display:block;
	position: relative;
	background-color: $background-table;
/*   background-color: #efe3dd;*/
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;   
	color:$color-text-base;
}

.tab-4 {
	margin: 2% 3%;
	width: 95%;
	border-collapse: collapse;
	background-color: $background-table;
}
.t-4 {
	padding-left: 10px;
	width: intrinsic;
	border: 1px solid $white;
}

.t-4-1 {
	border: 2px solid transparent;
	line-height: 1.2;
}

.tab-5 {
	margin: 2% 3%;
	width: 95%;
	text-align: left;
	border-collapse: collapse;
	background-color: $background-table;
}

.th-5 {
	color:$color-text-base;
	font-weight: 100;
	text-align: left;
	border: 1px solid $white;
}

.t-5 {
	width: auto;
	padding-left: 8px;
	border: 1px solid $white;
}

.tab-m-5 {
	margin-top: -1.5%;
}

.tr-5 {
	border-bottom: 2px solid $white;
}
.p-5 {
	margin: 15px auto;
	width: 100%;
	position: relative;
	background-color: transparent;
	text-align: left;
	padding-left: 3%;
}

.p-7 {
	font-size: 1em;
	line-height: 1.7em;
	position: relative;
	width: 100%;
	padding-left: 8%;
	padding-right: 2%
}

table.header_tb {
	width: 100%;
	background: $white;
	border: none;
}

td.header_left {
	border: none;
	text-align: center;
	width: 35%;
}
td.header_right {
	border: none;
	text-align: center;
}

th,td {
	width: 35%;
	text-align: left; 
	vertical-align: top; 
	padding: 5px;
	border: 1px solid $color-border-red;
}

.th_1 {
	width: 10%;
	background: $color-sec;
	color: $color-text-light;
	font-size: 2em;
	padding-left: 10px;
	padding-right: 10px
}

.th_2 {
	background: $blue;
	width: 90%;
	border: 0px solid $black;
	border-radius: 0 4px 0 0;
	border-collapse: collapse;
}

td.coloumn {
	width: 5%;
	text-align: left;
	font-style: italic;
	vertical-align: middle;
	padding-left: 1.5em;
	font-size: 1em;
}

td.coloumn_2 {
	
	width: 13%;
	border: none;
}
.coloumn_2_1_2 {
	font-weight:bold;	
	}

.coloumn_2_2_1 {
	width:10%;
	border-collapse:collapse;
	border-left:thin;
	border-bottom:none;
	border-top:none;
}

strong {
	font-weight: bold;

}
.highlight {
	margin-left: -9%;
	width: intrinsic ;
	padding: 0 10px ;
	background-color: $blue;
}

.th_main {
	border-radius:5px;
	width:0%;
	background-color: $background-table;
	color: $color-prim;
}

.heading {
	position: relative;
	margin-top: 1.3em;
	padding: 3px;
	border-radius: 3px;
	border: none;
	width: 100%;
	font-size:1.5em;
	text-align:center;
	background-color: $background-table;
	color: $color-text-base;
}

.title {
	border:none;
	width: 100%;
	font-size:1.5em;
	text-align:center;
	background: none;
	color: $color-text-light;
}

.numbers {
//	margin-left: -30px;
	padding: 5px;
	background-color: $background-light;
	border-radius: 50%;
	color:$color-prim;
}

/*–––––––––––––––––––––––––––*/

.tab_app_3 {
	display: inline-block;
	margin-top: -2%;
	margin-bottom: 15px;
	padding: 3%;
	vertical-align: top;
	background-color: $white;
	border: 1px solid $color-border-red;
	text-align: center;
	color:$color-text-base;
}
.t-a-3-1 {
   width: 40%;
   margin-left: 10px;
}
.t-a-3-2 {
   margin-top: -20px
}
.t-a-3-3 {
   display: inline-block;
   padding: 3%;
   width: intrinsic ;
   margin-left: 4%;
}

.tab_app_4 {
	float: left;
	margin: 1% 3% 1% 3%;
	padding: 2%;
	display: block;
	background-color: $background-table;
	width: intrinsic ;
}

.empty {
	text-align:center;
	background: none;
	border:none;
	font-weight:500;
	}
.irregular_1 {
	width:45%;
	display:inline-block;	
}

.irregular_2
{	
	float:right;
	width:45%;
	display:inline-block;
}

.footnote {
	padding-left: 10%;
	margin: 0 auto;
	width: 99.4%;
	background-color: $background-light;
}

b {
	color: $black;
	font-weight: bold;
}

.red {
	color: $color-border-red;
}

/*-------------------- end _style_table.css-------------*/

.t-4-i {
	border-color: $white;
	width: 10%;
}

.t-4-1-i {
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
	border-bottom: 2px solid $white;
	line-height: 1.2;
//	height: auto;
}
