/*==================================== 
  Card Main
=====================================*/
.main_table {
//	background: #ede2dd;
	position: relative;
	margin: 1em auto 0 auto;
	align-items: center;
	text-align: center;
	display: block;
	position: relative;
	width: 70%;
	max-width: 910px;
	color: $color-prim;
	height: auto;
	padding: .5em 0;
	box-sizing: border-box;
	background: $color-prim;
	border: solid 0px;
	border-radius: 0.25em;
	box-sizing: border-box;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.22);
	
	@media #{$brk-iPhone6sPlus-wide}{
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		margin: 0 auto;
		width: 80%;
//		margin-right: 1em;
	}
	@media #{$brk-iPhone6sPlus-portrait} {
		margin: 0 auto;
		padding: .2em 0;
		width: 90%;
	}
}

.main_table_back {
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	margin: 1em auto 0 auto;
	
	@media #{$brk-iPhone6sPlus-portrait} {
		width: 90%;
	}
}

/*--------------- exercises ---------------------- */
.exercises {
	margin-bottom: -.5em;
	padding: 0 .5em;
	color: $color-text-light;
	@media #{$brk-iPhone6s-wide}{
		margin-bottom: -1em;
	}
	@media #{$brk-extra-narrow} {
		padding: 0 .2em;
	}
}

.unit_table, .th_1,
.td_1 {
	border: 0px solid $black;
	border-collapse: collapse;
	border-radius: 0;
	text-align: center;
}

/* ------------------------------------ question---------------------------------- */
.question {
	display: inline-block;
	z-index: 100;
	background: $background-light;
	width: 98%;
	padding: .3em;
	cursor: pointer;
	margin: 0 auto;
	box-sizing: border-box;
	border-radius: 0.15em;
	border: 1px outset rgba(158, 129, 115, .3);
	box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
	perspective: 800px;
	transition: all 0.4s ease-in-out;
}

.question:active {
	box-shadow: 0 1px 4px rgba(50, 23, 34, 3), 0 0 40px rgba(0, 0, 0, 0.1);
}
.win .question > div > span > span {
	margin-top: -5px;
}

/*--------------- Add words ---------------------- */
.add_words1,
.add_words2 {
	display: inline-block;
	position: relative;
	margin: .7em auto .6em;
//	padding: 5px;
	padding: 0 5px;
	border: solid $color-sec 1px;
	border-radius: .2em;
	background: white;
	width: 95%;
}

#choices {
	display: block;
	margin: 0 auto .4em;
	margin-top: 1em;
//	padding-bottom: 2em;
}

.choices ul {
	padding: 0;
	margin: 0;
}

.choices_words li {
	display: inline-block;
	border-radius: .2em;
	padding: .1em .2em;
	border-style: solid;
	background: white;
	border-width: 1px;
	margin: 2px;
	margin-top: .2em;
}

.choices-box-delimiter {
	height: .3em;
	margin: 0px;
}

.choices_words ul:nth-child(3) li {
	background: $givry;
}

/*--------------- input type ---------------------- */
input {
	max-width: 100%; 
	max-height: 1.5em;
	border: none;
	border-bottom: .1rem solid $color-sec;
	border-radius: .3em;
	transition: width .5s;
	outline: 0;
	
	@media #{$brk-wide} {
//		border-bottom-width: 0.1em;
	}
}

#typeans {
	display: inline-block;
	min-width: 5%;
	max-width: 99.99% !important;
	margin: -.25em auto;
//	box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
}


/*--------------- input focus---------------------- */
//inset 0 1px 1px rgba(0, 0, 0, 0.075), 
#typeans:focus, #typeans1:focus, #typeans2:focus, #typeans3:focus, #typeans4:focus, #typeans5:focus, #typeans6:focus, #typeans7:focus, #typeans8:focus, #typeans9:focus, #typeans10:focus, #typeans11:focus, #typeans12:focus, #typeans13:focus, #typeans14:focus, #typeans15:focus  {
	border-color: $color-prim;
	outline: 0;
	box-shadow: 0 1px 14px $color-shadow; 
	border-bottom: .2rem solid $color-sec;
}
/*--------------- end input focus---------------------- */

input#typeans {
	border-radius: .3em;
	background: transparent;
	align-content: stretch;
	vertical-align: text-top;
}
.win input#typeans {
	margin-top: 0;
}

code#typeans{
	background-color: $white;
	padding: 10px;
	border: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.table_answer,
.table_answer{
	background-color: $white;
	width: 70%;
	max-width: 910px;
	height: min-content;
	margin: 0 auto;
	box-sizing: border-box;
	box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
		@media #{$brk-iPhone6sPlus-wide}{
			width: 80%;
	}
		@media #{$brk-iPhone6sPlus-portrait} {
			width: 90%;
		}
}
.td_back {
//	width: 70%;
//	max-width: 910px;
	margin: 0 auto;
//	width: intrinsic;
//	border: none;
}

/*--------------- Audio Buttons ---------------------- */
.replaybutton {
	display: block;
	vertical-align: middle;
//	margin-top: 30px;
}

.replaybutton span svg {
	display: block;
	stroke: none;
	fill: $background-light;
	background: $color-sec;
	display: inline;
	height: 3em;
	width: 3em;
	min-width: 12px;
	min-height: 12px;
	border-radius: 50%;
	box-shadow: 0 1px 14px rgba(0, 0, 0, 0.44);
}

.sound_main {
	z-index: 0;
	position: fixed;
}

.sound_front {
	z-index: 200;
	display: block;
	position: absolute;
	margin-left: 20%;
	top: 20px;

	@media(max-width: 1866px){
		margin-left: 15%
	}
	@media(max-width: 1566px){
		margin-left: 11%
	}
	@media(max-width: 1466px){
		margin-left: 9%
	}
	@media(max-width: 1366px){
		margin-left: 7%
	}
	@media(max-width: 1150px){
		margin-left: 5%
	}
	@media #{$brk-wide} {
		margin-left: 0;
	}
}

#question-audio {
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	margin-top: .5em;
	background: $background-app;
}

#question-audio > .replaybutton span svg {
	display: inline-block;
	position: relative;
	padding: 0;
	background: $background-app;
	box-shadow: none;
	margin-top: 5px;
	margin-bottom: -7px;
}

.question > div > .replaybutton {
	display: inline;
}
.question > div > .replaybutton span svg {
	position: relative;
	display: block;
	height: 1.5em;
	width: 1.5em;
}

.iphone .question > div  img,
.ipad .question > div  img {
	max-width: 65px !important;
	min-width: 65px !important;
	margin-bottom: 9px;
}

.question > div > div > .replaybutton {
	display: inline;
}
.question > div > div > .replaybutton span svg {
	position: relative;
	display: block;
	height: 1.5em;
	width: 1.5em;
}

.iphone .question > div > div  img,
.ipad .question > div > div  img {
	max-width: 65px !important;
	min-width: 65px !important;
	margin-bottom: 9px;
}
.answer_audio {
	float: left;
}

#question-audio > .replaybutton{
	width: 100%;
	margin-left: 0;
	border-bottom: solid .1em $color-prim;
}
#question-audio > svg{
//	width: 100%;
//	margin-left: 160px;
}

.iphone #question-audio img,
.ipad #question-audio img {
	max-width: 128px !important;
	min-width: 128px !important;
	padding: 7px;
	
	@media #{$brk-narrow} {
		max-width: 90px !important;
		min-width: 90px !important;
//		padding-left: 100px;
	}
	@media #{$brk-iPhone-wide} {
		max-width: 65px !important;
		min-width: 65px !important;
	}
}

.ipad .sound_front {
	margin-left: 5px;
}

.question_answer {
	z-index: 0;
	position: absolute;
	top: 15px;
	margin-left: 20px;
	color: $black;

	@media #{$brk-iPhone-wide} {
		max-width: 20px;
		top: 0;
	}
	@media #{$brk-iPhone6sPlus-portrait} {
		margin-left: 5px;
	}
}

.iphone .sound_front img,
.ipad .sound_front img{
	background: $background-app;
	max-width: 128px !important;
	min-width: 128px !important;
	
	
	@media #{$brk-narrow}{
		max-width: 90px !important;
		min-width: 90px !important;
	}
	@media #{$brk-iPhone-wide}{
		max-width: 50px !important;
		min-width: 50px !important;
	}
}

.iphone .question_answer img,
.ipad .question_answer img{
	max-width: 128px !important;
	min-width: 128px !important;
	
	@media #{$brk-narrow}{
		max-width: 90px !important;
		min-width: 90px !important;
	}
	@media #{$brk-iPhone-wide}{
		max-width: 50px !important;
		min-width: 50px !important;
	}
}

.iphone .question_answer {
	top: 15px;
}
//.question_answer > .replaybutton{
//	margin-left: 20px;
//}