@import 'hamburgers';
// Base Hamburger (We need this)
// ==================================================
@import "base";
// Hamburger types
// ==================================================
//@import "types/3dx";
//@import "types/3dx-r";
//@import "types/3dy";
//@import "types/3dy-r";
//@import "types/arrow";
//@import "types/arrow-r";
@import "types/arrowalt";
@import "types/arrowalt-r";
//@import "types/boring";
//@import "types/collapse";
//@import "types/collapse-r";
//@import "types/elastic";
//@import "types/elastic-r";
//@import "types/emphatic";
//@import "types/emphatic-r";
//@import "types/slider";
//@import "types/slider-r";
//@import "types/spring";
//@import "types/spring-r";
//@import "types/stand";
//@import "types/stand-r";
//@import "types/spin";
//@import "types/spin-r";
//@import "types/squeeze";
//@import "types/vortex";
//@import "types/vortex-r";