/*==================================== 
   Basic card options
=====================================*/
html { 
//	display: table;
	height: 100%;
	width: 100%; 
}

//.ipad .card {
//	position: absolute;
//	-webkit-font-smoothing: antialiased;
//	-webkit-backface-visibility: hidden;
//}

/* --------------------- Additional option ------------------------------ */

.G { color: gray; }
.q0 { color: indigo; }
.q1 { color: black; }
.q2 { color: darkgreen; }

/* --------------- Center content vertically on page ---------------------- */

.browserhide {}

body {
	z-index: 100;
	background-image: linear-gradient(top, #e5f3ff 0%,#ffffff 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	line-height: 1.5;
	height: 100%;
	margin: 0;
	font-smoothing: subpixel-antialiased !important;
	backface-visibility: hidden;
}

.card_1 {
	z-index: 100;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.card {
	@extend %alignBase;
	width: 100%;
	max-width: 1440px;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.mac .card,
.win .card {
	overflow-x: hidden;
}

.hr_style {
	margin-bottom: 0%;
}

hr {
	// width: 100%;
	height: 2px;
	border: 0;
	background: linear-gradient(left, rgb(234,244,252) 0%,rgb(51,102,153) 50%,rgb(234,244,252) 100%);
	margin-top: -0.2em;
}

.normalize {
	margin: 0 auto;
}

#copyright {
	position: absolute;
	right: 15px;
	margin-top: -7px;
}

a {
	color: rgba(210, 76, 57, 0.39);
	text-decoration: underline;
	cursor: auto;
}
a:hover {
	color: #d24c39;
}
.add-space-for-mobile {
	@media #{$brk-wide} {
	height: 450px;
	}
}