/*==================================== 
   Anki Template v1.0.0 | https://github.com/bikenik/Anki_Templates/tree/bikeNik-feature-branch/Templates/Murphy_(intermediate)
=====================================*/

// Center text
%centered {
	text-align: center;
}

// Align

%alignBase {
	position: relative;
	margin: 0px auto;
	align-items: center;
	text-align: center;
}