<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link rel="stylesheet" href="application.css">
</head>


<body>
   <!--––––––––––––––––––––––start––––––––––––––––––––––––-->
 
<div class="card">
<div class="gamb-wrap-back">
  	<div class="hamburger hamburger--arrowalt">
  	  <div class="hamburger-box">
  	    <div class="hamburger-inner"></div>
  	  </div>
  	</div>
</div>
<div class="arrow_06B13_line_back"></div>
<div class="circlePositioner_title_back">  
	<div class="mainCircle_title">  
		<div class="spinningContainer_title"> 
			<div class="leftContainer_title"></div>   
			<div class="rightContainer_title"></div>   
		</div>  
		<div id="overlay_title"> 
			<p id="p_button">A</p>    
		</div>   
	</div>  
</div>    
	<table class="unit_table">			  
		<tr class="un_table">  
			<th class="th_1">{{№ Unit}}</th>
			<th class="th_1 th_2">{{✔ Unit Name}}</th>
		</tr>
	</table>
	<!--––––––––––––––––––––––header––––––––––––––––––––––––-->
	<div class="header base">
	<div class="buttons">
<button class="header-close"><span class="close">✗</span></button>
<table>
		<div class="circlePositioner circle">
		<div class="mainCircle">
			<div class="spinningContainer">
				<div class="leftContainer"></div>
				<div class="rightContainer"></div>
			</div>
			<div class="overlay">
				<p class="p_app_button">1</p>
			</div>
		</div>
		</div> <!--circlePositioner_1-->
		<div class="circlePositioner circle">
		<div class="mainCircle">
			<div class="spinningContainer">
				<div class="leftContainer"></div>
				<div class="rightContainer"></div>
			</div>
			<div class="overlay">
				<p class="p_app_button">A</p>
			</div>
		</div>
		</div> <!--circlePositioner_2-->
		<div class="circlePositioner circle">
			<div class="mainCircle ">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">B</p>
				</div>
			</div>
		</div> <!--circlePositioner_3-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">C</p>
				</div>
			</div>
		</div> <!--circlePositioner_4-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">D</p>
				</div>
			</div>
		</div> <!--circlePositioner_5-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">E</p>
				</div>
			</div>
		</div> <!--circlePositioner_6-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">F</p>
				</div>
			</div>
		</div> <!--circlePositioner_7-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">G</p>
				</div>
			</div>
		</div> <!--circlePositioner_8-->
		<div class="circlePositioner circle">
		<div class="mainCircle">
			<div class="spinningContainer">
				<div class="leftContainer"></div>
				<div class="rightContainer"></div>
			</div>
			<div class="overlay">
				<p class="p_app_button">H</p>
			</div>
		</div>
		</div> <!--circlePositioner_9-->
		<div class="circlePositioner circle">
			<div class="mainCircle ">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">I</p>
				</div>
			</div>
		</div> <!--circlePositioner_10-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">J</p>
				</div>
			</div>
		</div> <!--circlePositioner_11-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">K</p>
				</div>
			</div>
		</div> <!--circlePositioner_12-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">L</p>
				</div>
			</div>
		</div> <!--circlePositioner_13-->
		<div class="circlePositioner circle">
			<div class="mainCircle">
				<div class="spinningContainer">
					<div class="leftContainer"></div>
					<div class="rightContainer"></div>
				</div>
				<div class="overlay">
					<p class="p_app_button">M</p>
				</div>
			</div>
		</div> <!--circlePositioner_14-->
</table>
	</div><!--end buttons-->
	</div>  <!--end <div class="header base">-->


	<!--  ––––––––––––––––––––––––––––––Start Appendixes–––––––––––––––––––––––––––––-->
<div class="appendixes">
<div class="heading">
	<span>List of irregular verbs (~ Unit 24)</span>
</div>
<div class="grid grid-pad">
	<div class="col-1-1">
<div class="grid">
	<div class="col-1-2 mobile-col-1-2">
		<div class="content">
			<table class="app_table">
				<tr>
				<td class="coloumn_2">
				<em class="empty">infinitive</em>
				</td>
				<td class="coloumn_2">
				<em class="empty">past simple</em>
				</td>
				<td class="coloumn_2">
				<em class="empty">past participle</em>
				</td>
			</tr>
			</table>
		</div>
	<table class="app_table">
	<tr>
	<td class="coloumn_2">be
	<br>beat
	<br> become
	<br>begin
	<br>bite
	<br> blow
	<br>break
	<br>bring
	<br>build
	<br>buy
	<br>catch
	<br>choose
	<br> come
	<br>cost
	<br>cut
	<br>do
	<br>draw
	<br>drink
	<br>drive
	<br>eat
	<br> fall
	<br>feel
	<br>fight
	<br>find
	<br>fly
	<br>forget
	<br>get
	<br>give
	<br> go
	<br>grow
	<br>hand
	<br>have
	<br>hear
	<br>hide
	<br>hit
	<br>hold
	<br>hurt
	<br> keep
	<br>know
	<br>leave
	<br>lend
	</td>
	<td class="coloumn_2 coloumn_2_1_2">
	was/were
	<br> beat
	<br>became
	<br>began
	<br>beat
	<br>blue
	<br>broke
	<br>brought
	<br> built
	<br>bought
	<br>caught
	<br>choose
	<br>came
	<br>cost
	<br>cut
	<br> did
	<br>drew
	<br>drank
	<br>drove
	<br>ate
	<br>fell
	<br>felt
	<br>fought
	<br> found
	<br>flew
	<br>forgot
	<br>got
	<br>gave
	<br>went
	<br>grew
	<br>hung
	<br> had
	<br>heard
	<br>hid
	<br>hit
	<br>held
	<br>hurt
	<br>kept
	<br>knew
	<br> left
	<br>lent
	<br>
	</td>
	<td class="coloumn_2 coloumn_2_1_2">
	been
	<br>beaten
	<br>become
	<br>begun
	<br>bitten
	<br>blown
	<br> broken
	<br>brought
	<br>built
	<br>bought
	<br>caught
	<br>chosen
	<br> come
	<br>cost
	<br>cut
	<br>done
	<br>drawn
	<br>drunk
	<br>driven
	<br>eaten
	<br> fallen
	<br>felt
	<br>fought
	<br>found
	<br>flown
	<br>forgotten
	<br>got
	<br> given
	<br>gone
	<br>grown
	<br>hung
	<br>had
	<br>heard
	<br>hidden
	<br>hit
	<br> held
	<br>hurt
	<br>kept
	<br>known
	<br>left
	<br>lent
	</td>
	</tr>
	</table>
	</div>
	<div class="col-1-2 mobile-col-1-2">
		<div class="content">
			<table class="app_table">
				<tr>
				<td class="coloumn_2">
				<em class="empty">infinitive</em>
				</td>
				<td class="coloumn_2">
				<em class="empty">past simple</em>
				</td>
				<td class="coloumn_2">
				<em class="empty">past participle</em>
				</td>
				</tr>
			</table>
		</div>
	<table class="app_table">
	<tr>
	<td class="coloumn_2">
	let
	<br>lie
	<br>light
	<br>lose
	<br> make
	<br>mean
	<br>meet
	<br>pay
	<br>put
	<br>read (reed)
	<br>ride
	<br>ring
	<br> rise
	<br>run
	<br>say
	<br>see
	<br>sell
	<br>send
	<br>shine
	<br>shoot
	<br>show
	<br> shut
	<br>sing
	<br>sit
	<br>sleep
	<br>speak
	<br>spend
	<br>stand
	<br>steal
	<br> swim
	<br>take
	<br>teach
	<br>tear
	<br>tell
	<br>think
	<br>throw
	<br> understand
	<br>wake
	<br>wear
	<br>win
	<br>write
	</td>
	<td class="coloumn_2 coloumn_2_1_2">
	let
	<br>lay
	<br>lit
	<br>lost
	<br>made
	<br> meant
	<br>met
	<br>paid
	<br>put
	<br>read(red)
	<br>rode
	<br>rang
	<br>rose
	<br> ran
	<br>said
	<br>saw
	<br>sold
	<br>sent
	<br>shone
	<br>shote
	<br>showed
	<br>s shut
	<br>sang
	<br>sat
	<br>slept
	<br>spoke
	<br>spent
	<br>stood
	<br>stole
	<br> swam
	<br>took
	<br>taught
	<br>tore
	<br>told
	<br>thought
	<br>threw
	<br> understood
	<br>woke
	<br>wore
	<br>won
	<br>wrote
	</td>
	<td class="coloumn_2 coloumn_2_1_2">
	let
	<br>lain
	<br>lit
	<br>lost
	<br>made
	<br>meant
	<br>met
	<br>paid
	<br>put
	<br> read (red)
	<br>ridden
	<br>rung
	<br>risen
	<br>run
	<br>said
	<br>seen
	<br>sold
	<br> sent
	<br>shone
	<br>shot
	<br>shown
	<br>shut
	<br>sung
	<br>sat
	<br>slept
	<br> spoken
	<br>spent
	<br>stood
	<br>stolen
	<br>swum
	<br>taken
	<br>taught
	<br> torn
	<br>told
	<br>thought
	<br>thrown
	<br>understood
	<br>woken
	<br>worn
	<br> won
	<br>written
	</td>
	</tr>
	</table>
	</div>
</div><!--End div class="grid grid-pad"-->
	<p class="p_1 p_2">The following verbs can be regular (-ed) or irregular (-t):</p>
<div class="grid">
	<div class="col-1-2 mobile-col-1-2">
		<div class="content">
		<table class="app_table">
			<tr>
			<td class="coloumn_2_2_1"><em>infinitive</em>
			<br>burn
			<br>dream
			</td>
			<td class="coloumn_2">
			<em class="empty">past simple / past participle</em>
			<br>
			<strong>burned</strong> or <strong>burnt</strong>
			<br>
			<strong> dreamed</strong> or <strong>dreamt</strong>
			<br>
			</td>
			</tr>
		</table>
		</div>
	</div>
	<div class="col-1-2 mobile-col-1-2">
		<div class="content">
			<table class="app_table">
				<tr>
				<td class="coloumn_2_2_1"><em>infinitive</em>
				<br>learn
				<br>smell
				</td>
				<td class="coloumn_2">
				<em class="empty">past simple / past participle</em>
				<br>
				<strong>learned</strong> or <strong>learnt</strong>
				<br>
				<strong> smelled</strong> or <strong>smelt</strong>
				<br>
				</td>
				</tr>
			</table>
		</div>
	</div>
</div><!--End div class="grid grid-pad"-->
	</div><!--End div class="col-1-1"-->
<img src="_Appendix_2.jpg" alt="">
</div><!--End grid-pad-->
</div><!--End APPENDIX 1–––––––––––––––––––––––––––––-->

<div class="appendixes">

	<div class="grid grid-pad">
<img src="_Grammar_remainder_A.jpg" alt="">
</div>
	</div> <!--End APPENDIX 2–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_B.jpg" alt="">
</div>
</div><!--End APPENDIX 3–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_C.jpg" alt="">
</div>
</div><!--End APPENDIX 4–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_D.jpg" alt="">
</div>
</div><!--End APPENDIX 5–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_E.jpg" alt="">
</div>
</div><!--End APPENDIX 6–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_F.jpg" alt="">
</div>
</div><!--End APPENDIX 7–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_G.jpg" alt="">
</div>
</div><!--End APPENDIX 8–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_H.jpg" alt="">
</div>
</div><!--End APPENDIX 9–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_I.jpg" alt="">
</div>
</div><!--End APPENDIX 10–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_J.jpg" alt="">
</div>
</div><!--End APPENDIX 11–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_K.jpg" alt="">
</div>
</div><!--End APPENDIX 12–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_L.jpg" alt="">
</div>
</div><!--End APPENDIX 13–––––––––––––––––––––––––––––-->

<div class="appendixes">
<div class="grid grid-pad">
<img src="_Grammar_remainder_M.jpg" alt="">
</div>
</div><!--End APPENDIX 14–––––––––––––––––––––––––––––-->

	<!--  ––––––––––––––––––––––––––––––End Appendixes–––––––––––––––––––––––––––––-->


	<div class="main_table main_table_back base">      

		<div class="question question_back">

<div class="q{{Queue}}"><div class="answer_audio">{{♫ Answer}}&nbsp;</div><div>{{cloze:✔ ☛ Question}}</div></div>
		</div>
		<span class="img_example">{{♟ Example}}<br><img src="img_example.jpg" alt=""></span>   
	</div> <!--end main_table-->  
    

<div  class="table_answer">
      <div class="td_back">
         {{type:cloze:✔ ☛ Question}}
      </div>
</div> <!--end table_answer-->

<!--––––––––––––––––––––––––––––––Start of Modal––––––––––––––––––––––––––––– --> 
<div class="myButt five">
	<div class="layer">{{№ Unit}}</div>
		SECTION (B)
</div>

<!--<div class="modal">-->
	<div id="modal__trigger"></div>
	<div class="material-icons">&#10005;</div>
	<div class="modal__overlay">

					<div class="sound_front audio">
							{{♫ Hint Back (audio)}}
				</div><!--end sound_front-->
		<div class="modal__wrap">{{♨ Hint Back Image (XXL)}} <img src="image_hint.jpg" alt=""></div><!--end modal__wrap-->
<div class = "highlight">{{»»♻«« Hint Front Text}}<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In blanditiis, corporis, ex esse a tempore incidunt natus! Autem qui tenetur cupiditate perspiciatis aliquam. Odio porro, ipsam sit aspernatur nam molestiae.<div><blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ipsam inventore voluptatem velit sint non.</blockquote><div><ul><li>Lorem ipsum dolor sit amet, consectetur.</li><li>Soluta dolore magnam nisi alias ratione!</li><li>Perferendis quidem incidunt excepturi tenetur illo.</li><li>Autem commodi eius nemo ex quasi?</li><li>Natus at, aliquam assumenda blanditiis consequuntur</li></ul></div></div>
</div>
	</div><!--end modal__overlay-->
<!--</div>end modal-->
<!--End of Modal --> 

<footer id ="front">
	<hr style="margin-top: 80px">
	<div class="deck"> 
		<span>
			{{Deck}}
		</span> 
	</div> <!--end deck-->
</footer><!--end footer-->
</div>  <!-----------END CARD------------> 
	</body>
<!--  ––––––––––––––––––––––––––––––JavaScript–––––––––––––––––––––––––––––-->

<!--<script src="js/app_back.js"></script>-->
<script src="js/app_type.js"></script>
<script src="js/app_back.js"></script>
<!--
<script type="text/javascript">
</script>
-->

</html>