// Hamburger
// ==================================================
.hamburger {
  //  padding: $hamburger-padding-y $hamburger-padding-x;
  padding-right: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: $hamburger-hover-transition-duration;
  transition-timing-function: $hamburger-hover-transition-timing-function; // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; //  &:hover {
  //    @if $hamburger-hover-use-filter == true {
  //      filter: $hamburger-hover-filter;
  //    }
  //    @else {
  //      opacity: $hamburger-hover-opacity;
  //    }
  //  }
}

//.iphone .hamburger {
//	position: fixed;
//}
.hamburger-box {
  width: $hamburger-layer-width;
  @media #{$brk-iPhone-wide} {
    width: $hamburger-layer-width-narrow;
  }
  height: $hamburger-layer-height * 3+$hamburger-layer-spacing * 2;
  @media #{$brk-iPhone-wide} {
    height: $hamburger-layer-height-narrow * 3 + $hamburger-layer-spacing * 2;
  }
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: $hamburger-layer-height / -2;
  &,
  &::before,
  &::after {
    width: $hamburger-layer-width;
    @media #{$brk-iPhone-wide} {
      width: $hamburger-layer-width-narrow;
    }
    height: $hamburger-layer-height;
    @media #{$brk-iPhone-wide} {
      height: $hamburger-layer-height-narrow;
    }
    background-color: $hamburger-layer-color;
    border-radius: $hamburger-layer-border-radius;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  &::before,
  &::after {
    content: "";
    display: block;
  }
  &::before {
    top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    @media #{$brk-iPhone-wide} {
      top: ($hamburger-layer-spacing + $hamburger-layer-height-narrow) * -1;
    }
  }
  &::after {
    bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
    @media #{$brk-iPhone-wide} {
      bottom: ($hamburger-layer-spacing + $hamburger-layer-height-narrow) * -1;
    }
  }
}