/*==================================== 
  Card Main
=====================================*/

.main_table {
  //	background: #ede2dd;
  position: relative;
  margin: 1em auto 0 auto;
  text-align: center;
  display: block;
  width: 70%;
  max-width: 910px;
  color: $color-prim;
  height: auto;
  padding: .5em 0;
  box-sizing: border-box;
  background: $color-prim;
  border: solid 0px;
  border-radius: 0.25em;
  box-sizing: border-box;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.22);
  transition-delay: 120ms;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  @media #{$brk-iPhone6sPlus-wide} {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0 auto;
    width: 80%; //		margin-right: 1em;
  }
  @media #{$brk-iPhone6sPlus-portrait} {
    margin: 0 auto;
    padding: .2em 0;
    width: 100%;
    border-radius: 0;
  }
  &.active {
    margin: 0 auto;
    border-radius: 0 0 4px 4px;
    transition-delay: 0ms;
    transition-duration: 100ms;
    transition-timing-function: linear;
  }
}

.main_table_back {
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin: 1em auto 0;
  @media #{$brk-iPhone6sPlus-portrait} {
    width: 100%;
    border-radius: 0;
    margin: 0 auto;
  }
}

/*--------------- exercises ---------------------- */

.exercises {
  margin-bottom: -.5em;
  padding: 0 .5em;
  color: $color-text-light;
  @media #{$brk-iPhone6s-wide} {
    margin-bottom: -1em;
  }
  @media #{$brk-extra-narrow} {
    padding: 0 .2em;
  }
}

.unit_table,
.th_1,
.td_1 {
  border: 0px solid $black;
  border-collapse: collapse;
  border-radius: 0;
  text-align: center;
}

/* ------------------------------------ question---------------------------------- */

.question {
  display: inline-block;
  z-index: 100;
  background: $background-light;
  width: 98%;
  padding: .3em;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 0.15em;
  border: 1px outset rgba(158, 129, 115, .3);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  perspective: 800px;
  transition: all 0.4s ease-in-out;
  @media #{$brk-iPhone6sPlus-portrait} {
    width: 100%;
    border-radius: 0;
  }
}

.question:active {
  box-shadow: 0 1px 4px rgba(50, 23, 34, 3), 0 0 40px rgba(0, 0, 0, 0.1);
}

.question>div>span {
  color: $color-prim;
}

/*--------------- Add words ---------------------- */

.add_words1,
.add_words2 {
  display: inline-block;
  position: relative;
  margin: .7em auto .6em; //	padding: 5px;
  padding: 0 5px;
  border: solid $color-sec 1px;
  border-radius: .2em;
  background: white;
  width: 95%;
}

#choices {
  display: block;
  margin: 0 auto .4em;
  margin-top: 1em; //	padding-bottom: 2em;
}

.choices ul {
  padding: 0;
  margin: 0;
}

.choices_words li {
  display: inline-block;
  border-radius: .2em;
  padding: .1em .2em;
  border-style: solid;
  background: white;
  border-width: 1px;
  margin: 2px;
  margin-top: .2em;
  text-indent: 0;
}

.choices_words li::before {
  content: none;
}

.choices-box-delimiter {
  height: .3em;
  margin: 0px;
}

.choices_words ul:nth-child(3) li {
  background: $select-light;
}

.table_answer {
  display: block;
  background-color: white;
  width: 70%;
  max-width: 910px;
  height: min-content;
  margin: 10px auto 0;
  box-sizing: border-box;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
  font-weight: 100;
  font-size: 1.3em;
  line-height: 120%;
  text-align: center;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* lets it scroll lazy */
  @media #{$brk-iPhone6sPlus-wide} {
    width: 80%;
  }
  @media #{$brk-iPhone6sPlus-portrait} {
    width: 100%;
  }
}

.td_back {
  //	display: inline-block;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  /* lets it scroll lazy */
  padding: .5em;
  padding-bottom: 5px;
  margin: 0 auto;
  white-space: nowrap; //	width: intrinsic;
  //	border: none;
}

/*--------------- Audio Buttons ---------------------- */

.replaybutton {
  display: block;
  vertical-align: middle; //	margin-top: 30px;
}

.replaybutton span svg {
  display: block;
  stroke: none;
  fill: $background-light;
  background: $color-sec;
  display: inline;
  height: 3em;
  width: 3em;
  min-width: 12px;
  min-height: 12px;
  border-radius: 50%;
  box-shadow: 0 1px 14px rgba(0, 0, 0, 0.44);
}

.sound_main {
  z-index: 0;
  position: fixed;
}

.sound_front {
  z-index: 200;
  display: block;
  position: relative;
  margin-left: 30px;
  float: left;
  top: 20px; //	width: 60px;
  @media #{$brk-narrow} {
    margin-left: 20px;
  }
  @media #{$brk-iPhone6s-wide} {
    margin-left: 5px;
  }
}

#question-audio {
  width: 100%;
  display: block;
  position: relative;
  padding: 0;
  margin-top: .5em;
  background: $background-app;
}

#question-audio>.replaybutton span svg {
  display: inline-block;
  position: relative;
  padding: 0;
  background: $background-app;
  box-shadow: none;
  margin-top: 5px;
  margin-bottom: -7px;
}

.question>div>.replaybutton {
  display: inline;
}

.question>div>.replaybutton span svg {
  position: relative;
  display: block;
  height: 1.5em;
  width: 1.5em;
}

.iphone .question>div img,
.ipad .question>div img,
.mobile .question>div img {
  max-width: 65px !important;
  min-width: 65px !important;
  margin-bottom: 9px;
}

.question>div>div>.replaybutton {
  display: inline;
}

.question>div>div>.replaybutton span svg {
  position: relative;
  display: block;
  height: 1.5em;
  width: 1.5em;
}

.iphone .question>div>div img,
.ipad .question>div>div img,
.mobile .question>div>div img {
  max-width: 65px !important;
  min-width: 65px !important;
  margin-bottom: 9px;
}

.answer_audio {
  float: left;
}

#question-audio>.replaybutton {
  width: 100%;
  margin-left: 0;
  border-bottom: solid .1em $color-prim;
}

.iphone #question-audio img,
.ipad #question-audio img,
.mobile #question-audio img {
  max-width: 128px !important;
  min-width: 128px !important;
  padding: 7px;
  @media #{$brk-narrow} {
    max-width: 90px !important;
    min-width: 90px !important; //		padding-left: 100px;
  }
  @media #{$brk-iPhone-wide} {
    max-width: 65px !important;
    min-width: 65px !important;
  }
}

.ipad .sound_front {
  margin-left: 5px;
}

.question_answer {
  z-index: 0;
  position: absolute;
  top: 15px;
  margin-left: 20px;
  color: $black;
  @media #{$brk-iPhone-wide} {
    max-width: 20px;
    top: 0;
  }
  @media #{$brk-iPhone6sPlus-portrait} {
    margin-left: 5px;
  }
}

.iphone .sound_front img,
.ipad .sound_front img,
.mobile .sound_front img {
  background: $background-app;
  max-width: 128px !important;
  min-width: 128px !important;
  @media #{$brk-narrow} {
    max-width: 90px !important;
    min-width: 90px !important;
  }
  @media #{$brk-iPhone-wide} {
    max-width: 50px !important;
    min-width: 50px !important;
  }
}

.iphone .question_answer img,
.ipad .question_answer img,
.mobile .question_answer img {
  max-width: 128px !important;
  min-width: 128px !important;
  @media #{$brk-narrow} {
    max-width: 90px !important;
    min-width: 90px !important;
  }
  @media #{$brk-iPhone-wide} {
    max-width: 50px !important;
    min-width: 50px !important;
  }
}

.iphone .question_answer,
.mobile .question_answer {
  top: 15px;
}

//.question_answer > .replaybutton{
//	margin-left: 20px;
//}