
// Descriptive Color Variables

$white							:#fff;
$black							:#000;
$grey								:#878787;
//red
$apple-blossom			:#a53f45;
$monarch						:#9c061b;
$percian-red				:#D32F2F;
$tonis-pink					:#E8AD96;
$givry							:#f7deb7;
$flamingo						:#ed5a3d;
$lavender-pink			:#fef3e6;
//text
$linen							:#FAF4E5;
$mine-shaft					:#3b3b3b;
$golden-grass				:#da9729;

$fuscous-gray				:#4e4e4e;


// Functional Color Variables

$color-prim						:	$apple-blossom;
$color-sec						:	$monarch;
$color-bright					: $percian-red;
$pink									:	$lavender-pink;

$background-app				: $fuscous-gray;
$background-table			: $tonis-pink;
$background-light			: $linen;
$select-light					: $givry;

$color-text-base			: $mine-shaft;
$color-text-light			: $linen;

//$color-border-light : $flamingo;
$color-border-light  	: lighten($grey, 25%);
$color-border-red		  : $percian-red;

$color-shadow					: rgba($black,.30);
$color-shadow-text		: rgba($color-sec,.30);
$color-shadow-input		: rgba($color-prim,.60);

// Font Stacks

$button-fonts 				: Verdana, serif;

 // Media Query
$brk-wide   								: '(max-width: 1025px)';
$brk-wide-appButtons   			: '(max-width: 855px)';
$brk-narrow 								: '(max-width: 769px)';
$brk-iPhone6sPlus-wide 			: '(max-width: 737px)';
$brk-iPhone6s-wide   				: '(max-width: 668px)';
$brk-iPhone-wide   					: '(max-width: 569px)';
$brk-iPhone6sPlus-portrait  : '(max-width: 438px)';
$brk-iPhone6s-portrait  		: '(max-width: 376px)';
$brk-extra-narrow 					: '(max-width: 321px)';



//@media only screen 
//  and (min-device-width: 768px) 
////  and (max-device-width: 1024px) 
//  and (orientation: portrait) 
////  and (-webkit-min-device-pixel-ratio: 1)
//{