@if index($hamburger-types, 3dx) {
  /*
   * 3DX
   */
  .hamburger--3dx {
    .hamburger-box {
      -webkit-perspective: $hamburger-layer-width * 2;
    }

    .hamburger-inner {
      -webkit-transition: transform 0.2s cubic-bezier(0.645, 0.045, 0.355, 1),
                  background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

      &::before,
      &::after {
        -webkit-transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
      }
    }

    &.is-active {
      .hamburger-inner {
        background-color: transparent;
        -webkit-transform: rotateY(180deg);

        &::before {
          -webkit-transform: translate3d(0, $hamburger-layer-height + $hamburger-layer-spacing, 0) rotate(45deg);
        }

        &::after {
          -webkit-transform: translate3d(0, ($hamburger-layer-height + $hamburger-layer-spacing) * -1, 0) rotate(-45deg);
        }
      }
    }
  }
}
