@if index($hamburger-types, arrow-r) {
  /*
   * Arrow Right
   */
  .hamburger--arrow-r.is-active {
    .hamburger-inner {
      &::before {
        -webkit-transform: translate3d($hamburger-layer-width * 0.2, 0, 0) rotate(45deg) scale(0.7, 1);
      }
      &::after {
        -webkit-transform: translate3d($hamburger-layer-width * 0.2, 0, 0) rotate(-45deg) scale(0.7, 1);
      }
    }
  }
}