/*==================================== 
  Header
=====================================*/
.background_header {
	background: white;
}

.unit_table {
	@extend %align;
	display: block;
	margin-top: 0px;
	max-height: 0;
	max-width: 910px;
	opacity: 0;
	transition-delay: 100ms;
	transition-duration: 300ms;
	transition-property: max-height, opacity;
	transition-timing-function: ease;
	width: 70%;
	z-index: 0;
	
	@media #{$brk-iPhone6sPlus-wide}{
		width: 80%;
	}
	@media #{$brk-extra-narrow}{
		width: 100%;
	}
}

.un_table{
	width: 100%;
}

.header {
	@extend %alignBase;
	background-color: $background-app; /*rgba(0, 0, 0, .65);*/
	display: block;
	max-height: 0;
	max-width: 910px;
	overflow: hidden;
	position: relative;
	transition-delay: 100ms;
	transition-duration: 300ms;
	transition-property: max-height, width, max-width;
	transition-timing-function: ease;
	width: 70%;
	z-index: 13;
}

.th_1 {
	background: #e30215;
	color: $color-text-light;
	font-size: 2em;
	padding-left: 10px;
	padding-right: 10px;
	width: 10%;
}

.th_2 {
	background: #f6ab8a;
	border-collapse: collapse;
	border: 0px solid $black;
	width: 90%;
}